.wrapper__input {
    position: relative;
    display: inline-flex;
}
.input {
    min-width: 300px;
    padding: 10px 15px;
    border: 1px solid black;
    outline: none;
}
.input:focus {
    border-color: blue;
}
.clear {
    position: absolute;
    height: 15px;
    right: 1px;
    padding: 10px;
    border: none;
    outline: none;
    object-fit: contain;
    object-position: center center;
    transition: .5s;
    opacity: .4;
    cursor: pointer;
}
.clear__disabled {
    opacity: .2;
}
