.header {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 60px;
    margin-left: auto;
    width: 100%;
}

.itemLink{
    align-items: center;
    color: #2d2e46;
    display: flex;
    font-style: normal;
    letter-spacing: .4px;
    line-height: 16px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.itemLink.active {
    background: #a4a7a7;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.itemLink.active::after {
    background: #374856;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center center;
}
