.personsList {
    display: flex;
    flex-wrap: wrap;
}

.personsList__item {
    margin: 0 10px 10px;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10%;
}

.personsList__img {
    width: 100%;
    height: 300px;
    border-radius: 10%;
}
/*.personsList__img:hover{*/
/*    padding: 2px;*/
/*    transition: all .2s;*/
/*}*/